body {
    font-family: "Montserrat", "Tahoma", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    min-width: 1440px;
    background-color: #FFFDF8;
    margin: 0 auto;
  }

  .page-header {
    background-color: #FFFFFF;
    width: 100%;
    border-bottom: 1px solid #F5D581;;
  }

.page-header-wrapper {
    width: 1100px;
    margin: 0 auto;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    width: 1110px;
    margin: 0 auto;
    padding: 0 20px;
}

.page-main {
    padding: 72px 0;
}

.wysiwyg-wrapper h1 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 32px;
}

.wysiwyg-wrapper h2 {
    font-size: 40px;
    margin-bottom: 56px;
}

.wysiwyg-wrapper h3 {
    font-size: 32px;
    margin-bottom: 33px;
}

.wysiwyg-wrapper ol,
.wysiwyg-wrapper ul {
    padding-left: 16px;
}

.wysiwyg-wrapper li {
    margin-bottom: 8px;
}


.page-header-wrapper-logo {
    text-decoration: none;
    display: grid;
    grid-template-columns: 42px 1fr;
    grid-template-rows: 70% 30%;
    column-gap: 18px;
}

.page-header-wrapper-image{
    width: 42px;
    height: 47px;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.page-header-wrapper-name {
    color: #9F7303;
    letter-spacing: 1.8px;
    padding: 5px;
}

.page-header-wrapper-text {
    color: #000;
    font-size: 9px;
    font-weight: 300;
    line-height: 13.5px;
}

.nav-button {
    color: #000;
    text-decoration: none;
    padding: 6px 11px;
}

.nav-button:not(:last-child) {
    margin-right: 18px;
}

.nav-button_border {
    border-radius: 8px;
    border: 1px solid #9F7303;
}
.nav-button_border:hover {
    background-color:#FFFDF8;
}
.nav-button_border:active {
    background-color: #FFF7E3;;
}

.nav-button_list {
    border: none;
    background-color: #FFFFFF;
    padding: 0;
}

/* Секция с отывами */

.review{
    width: 100%;
    background-color: #F4EFE2;
}

.review-wrapper {
    width: 1100px;
    margin: 0 auto;
}

.review-wrapper-form {
    padding-top: 81px;
    padding-bottom: 56px;
    border-bottom: 1px solid #F5D581;;
}

.review-wrapper-form-title {
    color:#9F7303;
    font-size: 32px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 32px;
}

.review-wrapper-form-textarea,
.review-wrapper-form-input {
    width: 1110px;
    height: 160px;
    border-radius: 8px;
    border: 1px solid #F5D581;
    background-color: #FFFFFF;
    margin-bottom: 24px;
    padding: 16px;
    box-sizing: border-box;
}

.review-wrapper-form-input {
    width: 540px;
    height: 64px;
}

.review-wrapper-form-button {
    min-width: 285px;
    min-height: 64px;
    border-radius: 8px;
    text-align: center;
    color: #FFFFFF;
    background-color: #9F7303;
    font-weight: 500;
    line-height: 27px;
    border: none;
    padding: 0;
    margin-right: 16px;
}

.review-wrapper-form-message {
    width: 225px;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    display: inline-block;
    vertical-align: text-top;
}